/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * LadyAndTheTiger implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * ladyandthetiger.css
 *
 * LadyAndTheTiger stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (ladyandthetiger_ladyandthetiger.tpl), and to HTML elements you create dynamically
    (in ladyandthetiger.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

/** BGA class */

/** Wrapper around "Collector/Guesser" labels */
.rolename {
    font-weight: bold;
    text-align: center;
}

/** This is the container for a row of cards - both the player tableaus and the center display. */
.display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-style: solid;
  border-width: 2px;
}

.tableau {
  margin-top: 5px;
}

/** South will be current player */
#psouth {
  bottom: 0px;
}

/** North will be other player */
#pnorth {
  top: 0px;
}

/** container for the central display with all the cards */
#center {
    left: 0px;
}

#tableau_Collector {
  margin-left: 50px;
}

#tableau_Guesser {
  display: none;
}

