/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * LadyAndTheTiger implementation : © <David Edelstein> <david.edelstein@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * ladyandthetiger.css
 *
 * LadyAndTheTiger stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (ladyandthetiger_ladyandthetiger.tpl), and to HTML elements you create dynamically
    (in ladyandthetiger.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/* This is the container for a row of cards - both the player tableaus and the center display. */
.ltdr_display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 370px;
	transition: width 2s;
}

/* Player tableaus (Guesser's is made hidden) */
.ltdr_tableau {
  top: 40px;
}

/* Role label and card container */
.ltdr_rolecontainer {
  font-family: cursive;
  display: flex;
  flex-direction: column;
}

/* Wrapper around "Collector/Guesser" labels */
.ltdr_rolename {
  font-weight: bold;
  text-align: center;
}

.ltdr_rolecard {
  background-size: 872px 720px;
  background-image: url(img/door_sprites.png);
  background-repeat: no-repeat;
  width: 218px;
  height: 360px;
  margin: 5px;
  transition-delay: 1s;
  backface-visibility: hidden;
}

.ltdr_bluetiger {
  background-position: 0px 0px;
}

.ltdr_redlady {
  background-position: -218px 0px;
}

.ltdr_redtiger {
  background-position: -436px 0px;
}

.ltdr_bluelady {
  background-position: -654px 0px;
}

.ltdr_door {
  background-position: 0px -360px;
}

.ltdr_cluecard {
  background-size: 1308px 1095px;
  background-image: url(img/card_sprites.png);
  background-repeat: no-repeat;
  width: 218px;
  height: 365px;
  margin: 5px;
}

.ltdr_cardback {
  background-position: 0 -730px;
}

.ltdr_discard {
  filter: grayscale(0.4);
  transition: transform 0.3s ease 0.1s;
}

.ltdr_trait {
  --scale: 1;
  background-size: calc(var(--scale) * 1111px) calc(var(--scale) * 538px);
  background-image: url(img/guess_sprites.png);
  background-repeat: no-repeat;
  margin: 5px;
  transition: transform 0.5s;
  cursor: pointer;
}

.ltdr_traiticon {
  --scale: 0.25;
  display: inline-block;
  margin: 0px 5px -5px;
  background-size: calc(var(--scale) * 1111px) calc(var(--scale) * 538px);
  background-image: url(img/guess_sprites.png);
  background-repeat: no-repeat;
}

.ltdr_trait:hover {
  transform: scale(1.1);
}

.ltdr_trait_red {
  width: calc(var(--scale) * 170px);
  height: calc(var(--scale) * 170px);
  background-position: calc(var(--scale) * -637px) calc(var(--scale) * -79px);
}

.ltdr_trait_blue {
  width: calc(var(--scale) * 170px);
  height: calc(var(--scale) * 170px);
  background-position: calc(var(--scale) * -857px) calc(var(--scale) * -79px);
}

.ltdr_trait_lady {
  width: calc(var(--scale) * 170px);
  height: calc(var(--scale) * 170px);
  background-position: calc(var(--scale) * -857px) calc(var(--scale) * -289px);
}

.ltdr_trait_tiger {
  width: calc(var(--scale) * 170px);
  height: calc(var(--scale) * 170px);
  background-position: calc(var(--scale) * -637px) calc(var(--scale) * -289px);
}

.ltdr_trait_redlady {
  width: calc(var(--scale) * 140px);
  height: calc(var(--scale) * 170px);
  background-position: calc(var(--scale) * -335px) calc(var(--scale) * -79px);
}

.ltdr_trait_bluelady {
  width: calc(var(--scale) * 140px);
  height: calc(var(--scale) * 170px);
  background-position: calc(var(--scale) * -335px) calc(var(--scale) * -289px);
}

.ltdr_trait_redtiger {
  width: calc(var(--scale) * 170px);
  height: calc(var(--scale) * 170px);
  background-position: calc(var(--scale) * -105px) calc(var(--scale) * -79px);
}

.ltdr_trait_bluetiger {
  width: calc(var(--scale) * 170px);
  height: calc(var(--scale) * 170px);
  background-position: calc(var(--scale) * -105px) calc(var(--scale) * -289px);
}

.ltdr_guess_btn {
  width: 300px;
  height: 50px;
  font-family: cursive;
  font-size: 24px;
  font-weight: bold;
	color: #494949;
  text-align: center;
	background: #ffffff;
  margin: 20px;
	padding: 10px;
	border: 4px solid #494949;
	transition: all 0.4s ease 0s;
  cursor: pointer;
}

.ltdr_guess_btn:hover {
	color: #ffffff;
	background: lightgray;
  border-style: groove;
  border-image: linear-gradient(145deg, blue, red) 1;
	transition: all 0.4s ease 0s;
}

.ltdr_flip_container {
  background-color: transparent;
  width: 218px;
  height: 360px;
  perspective: 1000px;  
}

.ltdr_flip_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.ltdr_rolecard, .ltdr_flipback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.ltdr_flipback {
  transform: rotateY(180deg);
}

.ltdr_flip {
  transform: rotateY(180deg);
}

/**
* By IDs
*/

#role_n {
  transition: background-position 2s;
}

#role_s {
  transition: background-position 2s;
}

#ladytigerboard {
  display: flex;
  flex-direction: column;
}

#center_display {
  min-height: 420px;
}

#center_display h1 {
  font-family: cursive;
  align-self: center;
}

#deckcontainer {
  display: flex;
  flex-direction: column;
}

#cluedeck {
  min-width: 250px;
}

#cluedisplay {
  top: 40px;
}

#discardcontainer {
  display: flex;
  flex-direction: column;
  border: 4px;
  border-style: groove;
  border-image: linear-gradient(145deg, red, blue) 1;
}

#cluediscard {
  min-width: 250px;
  min-height: 375px;
}